.fa-iconx {
    font-size: 1.2em !important;
    margin-left: .5em !important;
}
.fa-2x {
    font-size: 1.5em !important;
}

@media (max-width: 1024px)  {
    #container-info {
        display: none !important;
    }
    #container-message{
        width: 100% !important;
    }
}

/*@media (min-width:520px)  {*/
    /*.info {*/
        /*display: block;*/
    /*}*/
    /*#container-message{*/
        /*width: 66.66667% !important;*/
    /*}*/
/*}*/

.contact-status {
    position: absolute;
    top: 30px;
    right: 20px;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #f7f7f7;
}
.contact-heading-status {
    position: absolute;
    top: 7px;
    /*right: 5px;*/
    margin: -2px 0 0 -2px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #f7f7f7
}
.online {
    background: #2ecc71;
}

.away {
    background: #f1c40f;
}
.busy {
    background: #e74c3c;
}
.offline {
    background: #95a5a6;
}

#comment::-webkit-input-placeholder {font-size: 14px}

.app {
    position: relative;
    /*overflow: hidden;*/
    /*top: 19px;*/
    height: 480px;
    margin: auto;
    padding: 0;
    /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);*/
}

.app-one {
    /*background-color: #f7f7f7;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
    margin: 0;
    padding: 0;
    /*box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);*/
}

.side {
    padding: 0;
    margin: 0;
    /*height: 634px;*/
}
.side-one {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
}

.heading {
    padding-top: 10px;
    margin: 0 !important;
    height: 60px;
    z-index: 1000;
    border-bottom: 1px solid #f7f7f7;
}

.heading-avatar {
    padding: 0;
    cursor: pointer;

}

.heading-avatar-icon img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.heading-avatar-info img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.heading-contact {
    padding: 0 0 10px 0 !important;
    cursor: pointer;
}

.heading-name {
    padding: 0 0 0 10px !important;
    cursor: pointer;
}

.heading-name-contact {
    font-weight: 700;
    font-size: 100%;
    /*padding: 5px;*/
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block;
}

.heading-name-meta {
    font-weight: 700;
    font-size: 100%;
    /*padding: 5px;*/
    padding-left: 12px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block;
}
.heading-title {
    font-weight: 700;
    font-size: 100%;
    /*padding: 5px;*/
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #5dc560;
    display: block;
    margin-top: 10px;
}
.info-name {
    font-weight: 700;
    font-size: 100%;
    /*padding: 5px;*/
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block;
    margin: 0 !important;
}
.heading-icon {
    font-weight: 700;
    font-size: 100%;
    /*padding: 5px;*/
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #919191;
    display: block;
}
.heading-icon:hover, .heading-icon:active, .heading-icon:focus,
.heading-name-meta:hover, .heading-name-meta:active, .heading-name-meta:focus {
    color: #5dc560;
}
.valoration-star {
    font-weight: 700;
    font-size: 100%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fdd003;
}

.heading-online {
    /*padding: 0 5px;*/
    font-size: 12px;
    color: #93918f;
}
.message-description {
    /*padding: 0 5px;*/
    font-size: 13px;
    color: #93918f;
}
.info-city {
    /*padding: 0 5px;*/
    font-size: 13px;
    color: #93918f;
}
.info-title-description {
    /*padding: 0 5px;*/
    font-size: 13px;
    padding-right: 0 !important;
    padding-left: 5px !important;
    color: #93918f;
    text-align: left;
    padding-bottom: 10px;
}
.info-description {
    /*padding: 0 5px;*/
    font-size: 13px;
    text-align: right;
    padding-right: 0 !important;
    padding-bottom: 10px;

}
.info-description p {
    margin: 0 !important;
    word-wrap: break-word;

}
.content-message {
    /*width:20px;*/
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.heading-compose {
    padding: 0;
}

.heading-compose i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

.heading-dot {
    padding: 0;
    margin-left: 10px;
}

.heading-dot i {
    text-align: right;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

.searchBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
}

.searchBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    /*background-color: #fbfbfb;*/
}


/*#searchBox-inner input {
  box-shadow: none;
}*/

.searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    max-height: 360px;
}

.sideBar-body {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #f7f7f7;
    height: 72px;
    margin: 0 !important;
    cursor: pointer;
}

.active-green {
    background-color: #E5F8E5;
}

.sideBar-body:hover {
    background-color: #E5F8E5;
}

.sideBar-avatar {
    text-align: center;
    padding: 0 !important;
}

.message-avatar {
    text-align: center;
    padding: 0 !important;
}

.avatar-icon img {
    border-radius: 50%;
    height: 39px;
    width: 39px;
}

.sideBar-main {
    padding: 0 !important;
}

.sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
}

.sideBar-name {
    /*padding: 10px !important;*/
}

.name-meta {
    font-weight: 600;
    font-size: 100%;
    /*padding: 1% !important;*/
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}

.sideBar-time {
    padding: 0 10px 10px 10px !important;
}

.time-meta {
    text-align: right;
    font-size: 11px;
    padding: 0 2px 0 0 !important;
    /*color: rgba(0, 0, 0, .4);*/
    vertical-align: baseline;
}

/*New Message*/

.newMessage {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    position: relative;
    left: -100%;
}
.newMessage-heading {
    padding: 10px 16px 10px 15px !important;
    margin: 0 !important;
    height: 100px;
    width: 100%;
    background-color: #00bfa5;
    z-index: 1001;
}

.newMessage-main {
    padding: 10px 16px 0 15px !important;
    margin: 0 !important;
    height: 60px;
    margin-top: 30px !important;
    width: 100%;
    z-index: 1001;
    color: #fff;
}

.newMessage-title {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 5px !important;
}
.newMessage-back {
    text-align: center;
    vertical-align: baseline;
    padding: 12px 5px !important;
    display: block;
    cursor: pointer;
}
.newMessage-back i {
    margin: auto !important;
}

.composeBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
}

.composeBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb;
}

.composeBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.compose-sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 160px);
}

/*Conversation*/

.conversation {
    height: 100%;
    /*width: 100%;*/
    border-left: 1px solid #f7f7f7;
    /*overflow-y: auto;*/
}

.dateUser {
    height: 634px;
    /*width: 100%;*/
    /*overflow-y: auto;*/
}

.message {
    padding: 0 !important;
    margin: 0 !important;
    background-size: cover;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: 348px;
}
.info {
    padding: 0 !important;
    margin: 0 !important;
    background-size: cover;
    /*overflow-y: auto;*/
    /*border: 1px solid #f7f7f7;*/
    height: 348px;
}
.message-previous {
    margin : 0 !important;
    padding: 0 !important;
    height: auto;
    width: 100%;
}
.previous {
    font-size: 15px;
    text-align: center;
    padding: 10px !important;
    cursor: pointer;
}

.previous a {
    text-decoration: none;
    font-weight: 700;
}

.message-body {
    margin: 10px 0 !important;
    padding: 0 !important;
    width: auto;
    height: auto;
}

.message-main-receiver {
    padding: 3px 20px !important;
    max-width: 60%;
}
.info-heading {
    padding: 10px 20px;
}
.info-content {
    padding: 10px 20px;
    overflow-y: auto;
    /*border: 1px solid #f7f7f7;*/
    max-height: 260px;

}

.message-main-sender {
    padding: 3px 20px !important;
    margin-left: 40% !important;
    max-width: 60%;
}

.message-text {
    margin: 0 !important;
    padding: 5px !important;
    word-wrap:break-word;
    font-weight: 200;
    font-size: 14px;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    color: black;
    padding-bottom: 0 !important;
}

.message-time {
    margin: 0 !important;
    margin-left: 50px !important;
    font-size: 12px;
    text-align: right;
    color: #9a9a9a;

}

.receiver {
    width: auto !important;
    padding: 4px 10px 7px !important;
    border-radius: 10px 10px 10px 0;
    background: #f7f7f7;
    font-size: 12px;
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, .2);*/
    word-wrap: break-word;
    display: inline-block;
}

.sender {
    float: right;
    width: auto !important;
    background: #dcf8c6;
    border-radius: 10px 10px 0 10px;
    padding: 4px 10px 7px !important;
    font-size: 12px;
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, .2);*/
    display: inline-block;
    word-wrap: break-word;
}


/*Reply*/

.reply {
    /*height: 60px;*/
    width: 100%;
    background-color: #fcfcfc;
    padding: 10px 5px 10px 5px !important;
    margin: 0 !important;
    z-index: 1000;
}

.reply-emojis {
    padding: 5px !important;
}

.reply-emojis i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
}

.reply-recording {
    padding: 5px !important;
}

.reply-recording i {
    text-align: center;
    padding: 5px !important;
    color: #93918f;
    cursor: pointer;
}

.reply-send {
    padding: 5px !important;
}

.reply-send i {
    text-align: center;
    padding: 5px !important;
    color: #5dc560;
    cursor: pointer;
}

.reply-main {
    padding: 2px 5px !important;
}

.reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px !important;
    outline: none;
    /*border: none;*/
    text-indent: 5px;
    box-shadow: none;
    height: 100%;
    font-size: 14px;
}

.reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
}

/*@media screen and (max-width: 700px) {*/
    /*.app {*/
        /*top: 0;*/
        /*height: 100%;*/
    /*}*/
    /*.heading {*/
        /*height: 70px;*/
        /*background-color: #009688;*/
    /*}*/
    /*.fa-2x {*/
        /*font-size: 2.3em !important;*/
    /*}*/
    /*.heading-avatar {*/
        /*padding: 0 !important;*/
    /*}*/
    /*.heading-avatar-icon img {*/
        /*height: 40px;*/
        /*width: 40px;*/
    /*}*/
    /*.heading-compose {*/
        /*padding: 5px !important;*/
    /*}*/
    /*.heading-compose i {*/
        /*color: #fff;*/
        /*cursor: pointer;*/
    /*}*/
    /*.heading-dot {*/
        /*padding: 5px !important;*/
        /*margin-left: 10px !important;*/
    /*}*/
    /*.heading-dot i {*/
        /*color: #fff;*/
        /*cursor: pointer;*/
    /*}*/
    /*.sideBar {*/
        /*height: calc(100% - 130px);*/
    /*}*/
    /*.sideBar-body {*/
        /*height: 80px;*/
    /*}*/
    /*.sideBar-avatar {*/
        /*text-align: left;*/
        /*padding: 0 8px !important;*/
    /*}*/
    /*.avatar-icon img {*/
        /*height: 55px;*/
        /*width: 55px;*/
    /*}*/
    /*.sideBar-main {*/
        /*padding: 0 !important;*/
    /*}*/
    /*.sideBar-main .row {*/
        /*padding: 0 !important;*/
        /*margin: 0 !important;*/
    /*}*/
    /*.sideBar-name {*/
        /*padding: 10px 5px !important;*/
    /*}*/
    /*.name-meta {*/
        /*font-size: 16px;*/
        /*padding: 5% !important;*/
    /*}*/
    /*.sideBar-time {*/
        /*padding: 10px !important;*/
    /*}*/
    /*.time-meta {*/
        /*text-align: right;*/
        /*font-size: 14px;*/
        /*padding: 4% !important;*/
        /*color: rgba(0, 0, 0, .4);*/
        /*vertical-align: baseline;*/
    /*}*/
    /*!*Conversation*!*/
    /*.conversation {*/
        /*padding: 0 !important;*/
        /*margin: 0 !important;*/
        /*height: 100%;*/
        /*!*width: 100%;*!*/
        /*border-left: 1px solid rgba(0, 0, 0, .08);*/
        /*!*overflow-y: auto;*!*/
    /*}*/
    /*.message {*/
        /*height: calc(100% - 140px);*/
    /*}*/
    /*.reply {*/
        /*height: 70px;*/
    /*}*/
    /*.reply-emojis {*/
        /*padding: 5px 0 !important;*/
    /*}*/
    /*.reply-emojis i {*/
        /*padding: 5px 2px !important;*/
        /*font-size: 1.8em !important;*/
    /*}*/
    /*.reply-main {*/
        /*padding: 2px 8px !important;*/
    /*}*/
    /*.reply-main textarea {*/
        /*padding: 8px !important;*/
        /*font-size: 18px;*/
    /*}*/
    /*.reply-recording {*/
        /*padding: 5px 0 !important;*/
    /*}*/
    /*.reply-recording i {*/
        /*padding: 5px 0 !important;*/
        /*font-size: 1.8em !important;*/
    /*}*/
    /*.reply-send {*/
        /*padding: 5px 0 !important;*/
    /*}*/
    /*.reply-send i {*/
        /*padding: 5px 2px 5px 0 !important;*/
        /*font-size: 1.8em !important;*/
    /*}*/
/*}*/