/*=============================================
			Theme Color
=============================================*/
a,
a:hover,
a:focus,
a:active,
p a,
p a:hover,
.tg-features li:nth-child(2) .tg-featurecontent h3,
.tg-widgettwitter .tg-widgetcontent ul li a,
.tg-widgetfreeinspection ul li:last-child a,
.tg-breadcrumb li a,
.tg-matadata li a:hover,
.alert-info strong,
.tg-btnaddservices,
.tg-weatherarea i{color: #42a5f5;}
.tg-features li:nth-child(1) .tg-featurecontent h3{color: #ec407a;}
.tg-features li:nth-child(3) .tg-featurecontent h3,
.tg-memberinfo h5:hover a{color: #66bb6a;}
.tg-addressinfo li a:hover,
.tg-inputwithicon .tg-icon.fa-crosshairs,
.tg-sectiontitle:after,
.tg-serviceprovidercontent .tg-title h3:hover a,
.tg-postmatadata li a:hover,
.tg-postmatadata li a:hover i,
.tg-postmatadata li a:hover span,
.tg-footernav ul li a:hover,
.tg-widgetcontent ul li a:hover,
.tg-widgetcontent ul li a:hover:before,
.tg-listinglistvone .tg-serviceprovider:hover .tg-title h3 a,
.tg-jobdetail .tg-title .tg-jobpostedby a:hover,
.tg-themeliststylecircletick li:before,
.tg-tabnav li.active a > span,
.tg-tabnav li:hover a > span,
.tg-tablejoblidting tr:hover .tg-contentbox .tg-title h3 a,
.tg-dashboardnav ul li:hover a i,
.tg-dashboardnav ul li.tg-active a i,
.tg-alertmessages .alert-success strong,
.tg-dashboardservice:hover .tg-servicetitle h2 a,
blockquote:after,
blockquote:before,
.tg-iosstylcheckbox input[type=checkbox]:checked + label:before,
.locate-me-wrap .geolocate{color: #5dc560;}
.alert-success strong,
.tg-dashboardservice:hover .tg-servicetitle h2 a,
.tg-imgandtitle h3 a:hover,
.tg-pkgplanhead h4 span{color: #5dc560;}
.tg-posteddate strong{color: #5c6bc0;}
.tg-applicantapplied strong{color: #26a69a;}
.tg-views strong,
.alert-danger strong{color:#78909c;}
.tg-expiredate strong,
.alert-warning strong{color: #ef5350;}
/*=============================================
			Theme Background Color
=============================================*/
.tg-btnprint{background: black !important;}
.tg-btn-info:before{background: #29b6f6;}
.tg-btn-danger:before{background: #ef5350;}
.tg-btn:before,
.tg-theme-tag,
.tg-dropdownmenu li a:before,
.tg-navigation ul li a:after,
.tg-searchbox,
.tg-formsearch .tg-btn:hover:before,
.tg-panel .tg-radio label:hover,
.tg-panel .tg-radio input[type=radio]:checked + label,
.tg-featuredprofiles h1 span:before,
.tg-featuredprofilesbtns .tg-btnprev:hover i,
.tg-featuredprofilesbtns .tg-btnnext:hover i,
.tg-themetag:before,
.tg-quotes,
.navbar-toggle,
.tg-dropdowarrow,
.tg-pagination ul li a:hover,
.tg-pagination ul li.tg-active a,
.tg-bordertitle:before,.tg-border-bottom:before,
.tg-timelinenav li a:hover:after,
.tg-timelinenav li.active a:after,
.tg-formrefinesearch fieldset h4:before,
.tg-btngallery,
.tg-recommendedradio .tg-radio label,
.tg-widgettitle:before,
.tg-widgetcontent .tg-tag:hover,
.tg-currentday .tg-timebox i,
.tg-tabnav li:hover a,
.tg-tabnav li.active a,
.tg-formprogressbar li:after,
.tg-tablejoblidting tr:before,
.ui-slider-range,
.tg-dashboardnav ul li a:before,
.alert-success i,
.tg-btnrefresh:hover,
.tg-servicesmodal .tg-modalcontent .close,
.tg-btnaction li.tg-email a,
.tg-addtimeslot:hover,
.tg-actionnav li:hover,
.tg-emailnav li .form-group button,
.tg-emailnav li:before,
.tg-btnactions a:hover,
.tg-btndownloadattachment,
.tg-dashboardappointment .tg-btntimeedit .tg-btnedite,
.geo_distance.ui-slider .ui-slider-handle,
.pin{background:#5dc560;}
.tg-btnedite,
.tg-uploadhead,
.tg-uploadingbar:after,
.tg-galleryimg figure figcaption .fa-check,
.tg-expireytimecounter,
.tg-timecounter{background:#5dc560;}
.tg-emailnavscroll .mCSB_dragger .mCSB_dragger_bar,
.tg-horizontalthemescrollbar .mCSB_dragger .mCSB_dragger_bar,
.tg-themescrollbar .mCSB_dragger .mCSB_dragger_bar{background: #5dc560 !important;}
.tg-recommendedradio .tg-radio input[type="radio"]:checked + label,
.tg-recommendedradio .tg-radio input[type="radio"]:checked + label,
.tg-datepicker .ui-datepicker td a.ui-state-active,
.tg-datepicker .ui-datepicker td a:hover,
.tg-datepicker .ui-widget-header a:hover,
.tg-timeslotsradio .tg-radio input[type=radio]:checked + label,
.tg-closemodal{background: #54b156;}
/*=============================================
			Theme Border Color
=============================================*/
.tg-theme-tag:after,
.tg-theme-tag:before,
input:focus,
.tg-select select:focus,
.form-control:focus,
.tg-testimonialnavigationslider .item figure:hover,
.tg-testimonialnavigationslider .current .item figure,
.tg-header,
.tg-timelinenav li a:hover,
.tg-timelinenav li.active a,
.tg-widgetcontent .tg-tag:hover,
.tg-btndownload:hover,
.tg-datepicker .ui-datepicker td a:hover,
.tg-datepicker .ui-datepicker td a.ui-state-active,
.tg-datepicker .ui-datepicker td a.ui-state-highlight,
.tg-timeslotsradio .tg-radio input[type=radio]:checked + label,
.tg-tabnav li,
.tg-iosstylcheckbox input[type=checkbox]:checked + label,
.tg-actionnav li:hover,
.geo_distance.ui-slider .ui-slider-handle,
.geo_distance.ui-slider .ui-slider-handle:hover{border-color: #5dc560;}
.tg-infoBox,
.infoBox:after{border-color: #ef5350;}
/*=============================================
			Theme Categories Colors
=============================================*/
.tg-automotive .tg-categoryicon,
.tg-automotive .tg-categorytag:before,
.tg-premiumexperience,
.tg-expiredate .tg-jobmataicon,
.tg-comming-sooncounter .timer_box:first-child,
.tg-newmessages,
.tg-alertmessages .alert-warning i,
.tg-deleteslot,
.tg-deleteslot:hover,
.tg-btnactions a.tg-btndelemail:hover,
.tg-btnreject:before{background: #ef5350;}
.tg-btnactions a.tg-btntime:hover{background: #29b6f6;}
.alert-warning i{background: #ef5350;}
.tg-beautypersonalcare .tg-categoryicon,
.tg-advantage.tg-advantageplan .tg-badge,
.tg-beautypersonalcare .tg-categorytag:before,
.tg-features li:nth-child(1) .tg-featureicon,
.tg-hasslefreelife,
.tg-counterbox:nth-child(3) .timer_box{background: #ec407a;}
.tg-business .tg-categoryicon,
.tg-business .tg-categorytag:before,
.tg-savingyourtime{background: #ab47bc;}
.tg-childcare .tg-categoryicon,
.tg-childcare .tg-categorytag:before{background: #7e57c2;}
.tg-cleaning .tg-categoryicon,
.tg-cleaning .tg-categorytag:before,
.tg-servicetime,
.tg-posteddate .tg-jobmataicon,
.tg-counterbox:nth-child(2) .timer_box,
.tg-totaljobs{background: #5c6bc0;}
.tg-computermobile .tg-categoryicon,
.tg-advantage.tg-advantagechoosebest .tg-badge,
.tg-computermobile .tg-categorytag:before,
.tg-features li:nth-child(2) .tg-featureicon,
.tg-allprofessionals,
.tg-counterbox:nth-child(4) .timer_box,
.tg-taginfo,
.alert-info i,
.tg-currentpackege, .tg-completed{background: #42a5f5;}
.tg-fooddrinks .tg-categoryicon{background: #29b6f6;}
.tg-generallabor .tg-categoryicon,
.tg-savingyourcost{background: #26c6da;}
.tg-constructionrevovation .tg-categoryicon,
.tg-companynameandviews,
.tg-applicantapplied .tg-jobmataicon,
.tg-totalappointment, .tg-developing{background: #26a69a;}
.tg-closed{background: #ef5350;}
.tg-healthfitness .tg-categoryicon,
.tg-advantage.tg-advantagestressfree .tg-badge,
.tg-features li:nth-child(3) .tg-featureicon,
.tg-fiskfreeservices{background: #66bb6a;}
.tg-petcare .tg-categoryicon{background: #9ccc65;}
.tg-traningeducation .tg-categoryicon,
.tg-advantage.tg-advantageexperience .tg-badge,
.tg-securepayments{background: #ffa726;}
.tg-views .tg-jobmataicon,
.tg-transportationtravel .tg-categoryicon,
.alert-danger i{background: #78909c;}
.tg-heart:hover:before,
.tg-heart.tg-liked:before{background:#ff4d58;}
